/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* LAYOUT */
.app{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

body{
    background-color: aquamarine;
    font-family: "Open Sans", sans-serif;
}

.container{
    max-width:30%;
    margin: 0 auto;
}

.container_lg{
    max-width: 90%;
    margin: 0 auto;
}

.hide{
    display: none;
}

/* HEADER */

header{
    background-color: white;
}

.header_section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.title{
    display: flex;
    align-items: center;
}

.submit{
    padding:0 30px ;
    cursor: pointer;
}

.difficulties{
    width: 140px;
    padding-left: 10px;
}

/* MAIN */

main{
    
    flex-grow: 1;
    overflow: auto;
}

/* GRID */

.grid{
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    
}

.cell{
    border: 1px solid black;
    aspect-ratio: 1;
    width: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;

}

.safe{
    background-color: lightblue;
}

.bomb{
    background-color: red;
}

/* PROCLAMATION */

.proclamation{
    text-align: center;
    font-size: 24px;
}

.proclamation *{
    margin: 12px 0;
}

/* FOOTER */

footer{
    background-color: white;
}

footer .container_lg{
    height: 60px;
    display: flex;
    align-items: center;
}
